simplified_ui true
pane_frames false
auto_layout true
session_serialization false

themes {
    nord {
        fg 0 0 0 // #D8DEE9
        bg 0 0 0 // #2E3440
        black 0 0 0 // #3B4252
        red 0 0 0 // #BF616A
        green 0 0 0 // #A3BE8C
        yellow 0 0 0 // #EBCB8B
        blue 0 0 0 // #81A1C1
        magenta 0 0 0 // #B48EAD
        cyan 0 0 0 // #88C0D0
        white 0 0 0 // #E5E9F0
        orange 0 0 0 // #D08770
    }
}

theme "nord"
default_layout "compact"

layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
    }
    tab name="bot" {
        pane {
            command "bash"
            args "-c" "cd ~/.projects/flashcards_bot/ && nvim ."
        }
    }
    tab name="nvim" {
        pane {
            command "bash"
            args "-c" "cd ~/.dotfiles/nvim/ && nvim ."
        }
    }
    tab name="practice" {
    pane {
            command "bash"
            args "-c" "cd ~/.practice/ && nvim file.hs"
        }
    }

}
